version: "3.9"
   
services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always

  web:
    build: ./django
    volumes:
      - ./django:/code
    expose:
      - 8000
    depends_on:
      - db
    # env_file:
    #   - .env.dev

  nginx:
    build: ./nginx
    ports:
        - 8080:80
    depends_on:
        - web

volumes:
    postgres_data: